<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id='uuid' v-bind:class='name'>{{num}}</p>
        <p>{{ doubleNum}}</p>
        <div v-if="loading">
            Loading....
        </div>
        <div v-else>
            test user has been logged in 
        </div>
        <div v-show='loading'>
            Loading......
        </div>
        <!-- 인풋 박스를 만들고 입력된 값을 p태그에 출력해라-->
        <input v-model='message' type="text">
        <p>
            {{ message }}
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 기존 셀렉터 var input = document.querySelector

        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: false,
                message: ''
            },
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        })
    </script>

</body>
</html>