<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <app-header></app-header>
        <app-header v-on:pass="logText"></app-header>
        <app-content v-on:increase="addNumber"></app-content>
        <p>{{ num }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appHeader = {
            template: '<button v-on:click="passEvent">click me!</button>',
            methods: {
                passEvent: function() {
                    this.$emit('pass');
                }
            },
        }
        var appContent = {
            template: "<button v-on:click='addNumber'>add</button>",
            methods: {
                addNumber: function(){
                    this.$emit('increase')
                }
            }       
        }
        var vm = new Vue({
         el: '#app',
         components: {
             'app-header': appHeader,
             'app-content': appContent
         },
         methods: {
             logText: function(){
                 console.log('hi');
             },
            addNumber: function(){
                this.num++;
            }
         },
         data : {
          num: 10   
        },   
        })

    </script>
</body>
</html>