<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{num}}
        <button v-on:click='addNum'>add Num</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10
            },
            watch: {
                num: function(){
                    this.logText();
                }
            },
            methods: {
                addNum: function() {
                    this.num = this.num*2;
                },
                logText: function(){
                    console.log('changed');
                }
            },
        })
    </script>
</body>
</html>