<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <app-header v-bind:propsdata="num"></app-header>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            components: {
                'app-header': {
                    template: '<h1>{{ propsdata }}</h1>',
                    props: ['propsdata']
                }
            },
            data(){
                return {
                    message: 'hi vuejs',
                    num: 10,
                }
            },
        })
    </script>   
</body>
</html>