<template>
  <div>
    <app-header v-bind:propsdata="str" v-on:renew="renewStr"></app-header>
    app{{str}}
  </div>
</template>

<script>
import AppHeader from '../src/components/AppHeader.vue'
// new Vue({
//    data: {
//      str: 'hi'
//    }
// })
export default {
  data: function(){
    return{
      str: 'event'
    }
  },
  components: {
    'app-header': AppHeader
  },
  methods: {
    renewStr: function(){
      this.str = 'hi'
    }
  }
}
</script>

<style>

</style>