<template>
    <div class="inputBox shadow">
        <input type="text" v-model="newTodoItem">
        <button class="addBtn" v-on:click="addTodo"><i class="fas fa-plus addBtn"></i></button>
        <Modal v-if="showModal" @close="showModal = false">
            <h3 slot='header'>customheader</h3>
        </Modal>
    </div>
</template>

<script>
import Modal from './common/Modal'

export default {
    data: function(){
        return{
            newTodoItem : ""
        }
    },
    methods: {
        addTodo(){
            if(this.newTodoItem !== ""){
             this.$store.commit('addOneItem', this.newTodoItem);
             this.clearInput();   
            }else {
                this.showModal = !this.showModal;
            } 
            },
        clearInput : function(){
            this.newTodoItem = ''; 
        }
    },
    components: {
        Modal : Modal
    }
}
</script>

<style scoped>
    input:focus {
        outline: none;
    }
    .inputBox {
        background: white;
        height: 50px ;
        line-height: 50px;
        border-radius: 5px;
    }
    .inputBox input{
        border-style: none;
        font-size: 0.9rem;
    }
    .addContainer{
        float : right;
        background: linear-gradient(to right, #6478FB, #8763FB);
        display: block;
        width: 3rem;
        border-radius: 0 5px 5px 0;
    }
    .addBtn{
        color: white;
        vertical-align: middle;
    }
    .shadow {
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03)
    }
    
</style>