<template>
    <div>
        <ul>
          <li class="shadow" v-for="(todoItem, index) in this.storedTodoItems" v-bind:key="todoItem.item" >
            <i v-on:click="toggleBtn({todoItem, index})" v-bind:class="{checkBtnCompleted : todoItem.completed}"
                 class="checkBtn fas fa-check"></i>
            <span v-bind:class="{textCompleted : todoItem.completed}" >{{ todoItem.item }}</span>
            <span class="removeBtn" v-on:click="removeToDo(todoItem, index)">
              <i class="removeBtn fas fa-trash-alt"/>
            </span>
          </li>
        </ul>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex"

export default {
    props : ['propsdata'],
    methods :  {
      ...mapMutations({
        removeToDo : 'removeOneItem',
        toggleBtn : 'toggleOneItem'
      }),
      // removeToDo : function(todoitem, index){
      //   this.$store.commit('removeOneItem', {todoitem, index});
      //   console.log("remove:List")
      // },
      // toggleBtn : function(todoItem,index){
      //   this.$store.commit('toggleOneItem', {todoItem, index});
      //   console.log("toggle:List")
      // }
    },
    computed : {
      ...mapGetters(['storedTodoItems'])
    }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
  text-align: left;
}
li {
  display: flex;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0.5rem 0;
  padding: 0 0.9rem;
  background: white;
  border-radius: 5px;
}
.checkBtn {
  line-height: 45px;
  color: #62acde;
  margin-right: 5px;
}
.checkBtnCompleted {
  color: #b3adad;
}
.textCompleted {
  text-decoration: line-through;
  color: #b3adad;
}
.removeBtn {
  margin-left: auto;
  color: #de4343;
}
/* transition css */
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
</style>